<ion-header>
  <ion-toolbar>
    <ion-title class="heading">
      <ion-input [(ngModel)]="newNoteTitle"></ion-input>
    </ion-title>

<ion-back-button color="dark" slot="start"></ion-back-button>

    <ion-buttons slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="checkmark" class="ion-padding" (click)="saveNote()"></ion-icon>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item color="dark">
    <ion-input [(ngModel)]="newNoteDescription"></ion-input>
  </ion-item>
  <ion-textarea [(ngModel)]="newNoteInfo"></ion-textarea>
</ion-content> 