<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-icon slot="icon-only" name="arrow-back" class="ion-padding" routerLink="/"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="add-circle" class="ion-padding" routerLink="/create-note"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="folder" class="ion-padding" routerLink="/"></ion-icon>
    </ion-buttons> 

    <ion-buttons slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="settings" class="ion-padding" routerLink="/settings"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="log-out" class="ion-padding" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h4 class="heading">Notes</h4>
  <ion-list *ngIf="userNotes">
    <ion-item *ngFor="let notes of userNotes">
      <ion-thumbnail slot="start">
        <img src="https://cdn-icons-png.flaticon.com/512/5088/5088058.png" alt="">
      </ion-thumbnail>
      <ion-label [routerLink]="['/view-note', notes]">
        <h3 class="heading">{{notes.title}}</h3>
        <p>{{notes.description}}</p>
      </ion-label>
      <div *ngIf="notes.favorite == true">
        <ion-item lines="none">
          <ion-icon slot="end" name="star" (click)="favorite(notes)"></ion-icon>
          <ion-icon slot="end" name="trash" (click)="presentConfirm(notes)"></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="notes.favorite == false">
        <ion-item lines="none">
          <ion-icon slot="end" name="star-outline" (click)="favorite(notes)"></ion-icon>
          <ion-icon slot="end" name="trash" (click)="presentConfirm(notes)"></ion-icon>
        </ion-item>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content>
<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button>
      <ion-icon name="star" (click)="showFavorites()"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="home" (click)="showAll()"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="folder-open" routerLink="/collections"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="people" routerLink="/users"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>