<ion-header>
  <ion-toolbar>
    <ion-title>Collections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button>
        <ion-icon name="star" routerLink="/favorites"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="home" routerLink="/"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="folder" routerLink="/collections"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>