<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>

    <ion-back-button color="dark" slot="start"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-padding">
    <h4 class="heading">Cambia tu bio!</h4>
    <ion-item>
      <ion-input [(ngModel)]="bio" placeholder="bio" type="text"></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <h4 class="heading">Cambia tu password!</h4>
    <p>Si no deseas cambiar tu password, deja el campo en blanco.</p>
    <ion-item>
      <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
    </ion-item>
  </div>

  <ion-button class="ion-padding" color="dark" expand="block" (click)="update()">
    Guardar cambios
  </ion-button>
  <ion-button class="ion-padding" color="danger" expand="block" (click)="presentConfirm()">
    Eliminar cuenta
  </ion-button>

</ion-content>