<ion-header>
  <ion-toolbar>
    <ion-title>Registered Users</ion-title>

    <ion-back-button color="dark" slot="start"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <h4 class="heading">Browse</h4>
  <ion-list *ngIf="users">

    <ion-item *ngFor="let user of users">
      <ion-thumbnail slot="start">
        <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="">
      </ion-thumbnail>      <ion-label>
        <h1 class="heading">{{user.username}}</h1>
        <h3>{{user.bio}}</h3>
      </ion-label>
      <div>
        <ion-item lines="none">
          <ion-icon slot="end" name="person-add"></ion-icon>
        </ion-item>
      </div>
    </ion-item>

  </ion-list>
</ion-content>